# Environment variables in .env file should be ignored on GitHub for
# security purposes, so personal data such as a password are not shown.
# Code below means that GitHub should ignore showing a .env file.
.env
.DS_Store
